footer.site-footer
    header.site-footer__header
        h2.site-footer__title Контакты:
        .site-footer__contacts
            a(href="tel:+74012123456") +7 (4012) 12-34-56
            a(href="mailto:bpkc39@gmail.com") bpkc39@gmail.com
    
    //- .social
    //-     h3.social__title Мы в соцсетях:
    //-     .social__icons
    //-         a(href="#"): img(src="./img/icons/fb.svg")
    //-         a(href="#"): img(src="./img/icons/inst.svg")
    //-         a(href="#"): img(src="./img/icons/vk.svg")
    //-         a(href="#"): img(src="./img/icons/twitter.svg")

    .copyrights &copy;  #[span.copyrights--orange Балтийский Проектно-Консалтинговый Центр] 2017. 