// fonts
$baseFontSize: 16px;
$mainFont: 'Roboto Condensed', sans-serif;
// $mainFont: 'Open Sans Condensed', sans-serif;
// $mainFont: 'Oswald', sans-serif;

// colors
$orange: #f79549;
$blue: #00a0e3;
$lightBlue: #eef3fa;
$copy: #212121;