.museum-hero {
    // box model
    padding: 20px;

    // visual
    background-image: url('./img/museum-bg-s.jpg');
    background-position: center center;
    background-size: cover;

    &__header {
        // box model
        margin-top: -10px;
        padding-left: 25px;
    }

    &__title {
        // positioning
        position: relative;

        // box model
        margin: 0;

        // typography
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.4;
        text-transform: uppercase;

        &::before {
            content: "";

            // positioning
            position: absolute;
            bottom: 10px;
            left: -25px;

            // box model
            height: calc(100% + 20px);
            width: 3px;

            // visual
            background-color: $blue;
        }
    }

    &__text {
        // typography
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 300;
    }
}