.news-item {
    // box model
    margin: 40px 0;

    // typography
    font-size: 0;

    @include atTabletsPortrait {
        // box model
        padding-bottom: 20px;

        // visual
        border-bottom: 1px solid rgba($blue, 0.2);
    }

    @include atTabletsLandscape {
        // box model
        display: inline-block;
        vertical-align: top;

        width: 31.2%;
        margin-top: 0;

        // visual
        border-bottom: none;
    }


    &:hover {
        .news-item__content::before {
            // visual
            background-color: $orange;
        }

        .news-item__header {
            // typography
            color: $orange;
        }

        .news-item__more {
            // typography
            color: $orange;

            // visual
            border-color: $orange;
        }
    }

    &__image {
        // box model
        width: 100%;
        margin-bottom: 30px;

        img {
            // box model
            width: 100%;
        }

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: 320px;
            margin-top: 48px;
        }

        @include atTabletsLandscape {
            // box model
            display: block;
            width: 100%;
            padding-left: 25px;
        }
    }

    &__text-wrapper {
        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 320px);
        }

        @include atTabletsLandscape {
            // box model
            display: block;
            width: auto;
        }
    }

    &__header {
        // typography
        color: $blue;

        // visual
        transition: all 0.3s ease-out;
    }

    &__day {
        // box model
        display: inline-block;
        vertical-align: top;
        margin-right: 3px;

        // typography
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1;
    }

    &__date {
        // box model
        display: inline-block;
        vertical-align: top;
        padding-top: 2px;

        // typography
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
    }

    &__content {
        // positioning
        position: relative;

        // box model
        padding-left: 43px;
        margin-bottom: 40px;

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: 28px;
            top: 15px;

            // box model
            height: calc(100%);
            width: 3px;

            // visual
            background-color: $blue;
            transition: all 0.3s ease-out;
        }
    }

    &__title {
        // box model
        margin: 0;
        margin-top: -7px;

        // typography
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4;
        text-transform: uppercase;
    }

    &__text {
        // box model
        margin-bottom: 40px;

        // typography
        font-size: 1.5rem;
        font-weight: 300;

        @include atTabletsLandscape {
            // typography
            font-size: 1rem;
        }
    }

    &__more {
        // box model
        display: inline-block;
        padding: 10px 20px;
        padding-bottom: 13px;

        // typography
        color: $blue;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1;
        text-decoration: none;

        // visual
        border: 2px solid $blue;
        border-radius: 25px;
        transition: all 0.3s ease-out;

        &:hover {
            // typography
            color: #ffffff !important;

            // visual
            background-color: $orange;
        }

        @include atTabletsPortrait {
            // box model
            margin-left: 25px;
        }
    }

    &--museum {
        @include atTabletsLandscape {
            // visual
            border-bottom: none;
            max-width: 320px;
            margin-bottom: 0;
        }

        .news-item__image {
            // box model
            display: none;
        }

        .news-item__header {
            // typography
            color: #ffffff;
        }

        .news-item__content::before {
            // visual
            background-color: #ffffff;
        }

        .news-item__title {
            // typography
            color: #ffffff;
        }

        .news-item__text {
            // typography
            color: #ffffff;
        }

        .news-item__more {
            // typography
            color: #ffffff;

            // visual
            border-color: #ffffff;
        }

        &:hover {
            .news-item__content::before {
                // visual
                background-color: $orange;
            }

            .news-item__header {
                // typography
                // color: #ffffff !important;
            }

            .news-item__more {
                // typography
                color: $orange;

                // visual
                border-color: $orange;
            }
        }
    }
}