.site-main {
    // box model
    padding: 20px;

    @include atDesktop {
        // box model
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 300px);
    }

    &__header {
        // positioning
        position: relative;

        // box model
        padding-left: 25px;
        margin-bottom: 30px;

        @include atTabletsLandscape {
            // box model
            margin: 50px;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            bottom: 0.1em;
            left: 0;

            // box model
            height: calc(100% + 110px);
            width: 3px;

            // visual
            background-color: $blue;
        }
    }

    &__breadcumbs {
        // typography
        font-size: 1.25rem;
        font-weight: 300;
        text-transform: uppercase;

        span {
            // typography
            color: $blue;
        }
    }

    &__title {
        // box model
        padding-right: 40px;

        // typography
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__text {
        // typography
        font-size: 1.25rem;
        font-weight: 300;
    }
}