.site-header {
    // box model
    padding: 20px;
    
    // visual
    background-color: #262322;
    background-image: url('./img/header-bg-s.jpg');
    background-position: center center; 
    background-size: cover;
}